datasets
faiss-cpu
google-colab
ipython
langchain
langchain-community
langchain-ollama
matplotlib
networkx
openai
openmeteo-requests
pandas
pydantic
python-dotenv
pyvis
ragas
requests-cache
seaborn
tavily-python
tiktoken
transformers
tqdm
yfinance
